<!--/ Phaser Library
-->
<%= javascript_include_tag "/phaser/library/phaser.min.js" %>
<%= javascript_include_tag "/phaser/library/phaser-checkbox/phaser.checkbox.min.js" %>
<!--/ game states
-->
<%= javascript_include_tag "/phaser/boulder_math/states/Boot.js" %>
<%= javascript_include_tag "/phaser/boulder_math/states/Preload.js" %>
<%= javascript_include_tag "/phaser/boulder_math/states/MainMenu.js" %>
<%= javascript_include_tag "/phaser/boulder_math/states/Game.js" %>
<%= javascript_include_tag "/phaser/boulder_math/states/LoseScene.js" %>
<%= javascript_include_tag "/phaser/boulder_math/states/Settings.js" %>
<%= javascript_include_tag "/phaser/boulder_math/states/WinScene.js" %>
<!--/ game prefabs
-->
<%= javascript_include_tag "/phaser/boulder_math/prefabs/truck.js" %>
<%= javascript_include_tag "/phaser/boulder_math/prefabs/arrow.js" %>
<%= javascript_include_tag "/phaser/boulder_math/prefabs/lift.js" %>
<%= javascript_include_tag "/phaser/boulder_math/prefabs/popupModal.js" %>
<%= javascript_include_tag "/phaser/boulder_math/prefabs/scoreMeter.js" %>
<%= javascript_include_tag "/phaser/boulder_math/prefabs/controlPanel.js" %>
<%= javascript_include_tag "/phaser/boulder_math/prefabs/levelLayout.js" %>
<%= javascript_include_tag "/phaser/boulder_math/prefabs/challenge.js" %>
<%= javascript_include_tag "/phaser/boulder_math/prefabs/radioButtons.js" %>
<%= javascript_include_tag "/phaser/boulder_math/prefabs/dust.js" %>
<!--/ game plugins
-->
<%= javascript_include_tag "/phaser/node_modules/@orange-games/phaser-input/build/phaser-input.js" %>
<!--/ main file
-->
<%= javascript_include_tag "/phaser/boulder_math.js" %>

<div id="container"></div>
